html, body {
    font-family:"Heebo" , sans-serif; 
    padding: 0;
    margin: 0;
    background: #FFFFFF;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

/* header styles */

header nav {
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

header nav ul{
    margin: 0 ;
    display: flex;
    align-items: center;
    gap: 33px;
}

header nav li {
    list-style: none;
}

header nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;

    color: #000000;

}

header nav li a:hover {
    color: #FF6464;
}

/* #main-header nav li a:hover {
    color: #FF6464;
}

#main-header nav li a {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #21243D;
} */

/* hero-section styles */

.hero-section {
    background-color: #FFFFFF;
    padding-top: 158px;
    padding-bottom: 158px;
}

.hero-section .hero-inner {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    align-items: center;
}

.hero-section .hero-inner .col-left {
    max-width: 497px;
}

.hero-section .hero-inner .col-left h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.hero-section .hero-inner .col-left p {
    margin-top: 40px;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #21243D;
}

.hero-section .hero-inner .col-left .action-button {
    margin-top: 38px;
background: #FF6464;
border-radius: 2px;
padding: 10px 20px; 
color: #FFFFFF;
text-align: center;
max-width: fit-content;
font-weight: 500;
font-size: 20px;
line-height: 29px;

color: #FFFFFF;
}

.hero-section .hero-inner .col-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}  

/* posts-section styles */

.posts-section {
    background-color: #EDF7FA;
    padding: 32px 0;
}

.posts-section-inner  {
    max-width: 960px;
    margin: 0 auto;
}

.posts-section .posts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts-section .posts-header a {
 font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: right;
color: #00A8CC;
text-decoration: none;

}

.posts-section .posts-header h2 {
    font-weight: 400;
font-size: 22px;
line-height: 60px;
color: #21243D;
}

.posts {
    display: flex;
    gap: 20px;
}

.posts .post-items {
    background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
border-radius: 4px;
padding: 24px;
}

.posts .post-items h3 {
    font-weight: 700;
font-size: 26px;
line-height: 38px;

/* Dark Color */

color: #21243D;
margin-bottom: 16px;
}

.posts .post-items .meta {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    
    /* Dark Color */
    
    color: #21243D;
 display: flex;
 gap: 26px;
 align-items: center;    
 margin-bottom: 20px;
}

.posts .post-items p {
    font-weight: 400;
font-size: 16px;
line-height: 24px;

/* Dark Color */

color: #21243D;

}

/* featured-section styles */

.featured-section {
    background-color: #FFFFFF;
    padding: 32px 0;
}

.featured-section-inner {
    max-width: 960px;
    margin: 0 auto;
}

.fs-header h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 22px;
}

.fs-list .fs-item {
    display: flex;
    gap: 18px;
    border-bottom: 1px solid #E0E0E0;
    padding: 16px;
    margin-bottom: 30px;
}

.fs-item-right h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-bottom: 16px;

}

.item-meta {
    display: flex;
    gap: 26px;
    align-items: center;
}

.fs-item-right .badge {
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;

}

.fs-item-right .category {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;

}

.fs-item .fs-item-right .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-top: 16px;

}

/* works-styling */

.container {
    background-color: #FFFFFF;
    padding: 100px 235px 60px 235px;
}

 .container #main-heading {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    padding-bottom: 50px;
    text-align: left;
    background-color: #FFFFFF;
    max-width: 800px;
    margin: 0 auto;
}

   .container .inner-container {  
    display: flex;
    justify-content: center;
}

.container .fs-item {
    padding-bottom: 47px;
}

.container .fs-item-right .description {
    max-width: 540px;
}

/* blog-styling */

.blog-container {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 60px;
}

    #main-blog-heading {
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    padding-top: 110px;
    text-align: left;
    max-width: 740px;
    margin: 0 auto;
} 

.blog-container article {
     border-bottom: 1px solid #E0E0E0;;
     padding-bottom: 50px;
     padding-top: 35px;
     padding-left: 10px;
     padding-right: 60px;
}

.blog-container article h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    padding-bottom: 15px;
}

.blog-container .publishing span:nth-child(1) {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
    padding-right: 20px;
}

.blog-container .publishing span:nth-child(2) {
    width: 0px;
    height: 21px;
    left: 371px;
    top: 322px;
    padding-right: 20px;
    /* border: 1px solid #000000; */
}

.blog-container .publishing span:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.blog-container article p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-top: 15px;
    max-width: 690px; 
}

/* contact-styling */

.contact-box {
    background-image: url('..//images/bgimage.jpg');
    max-height: fit-content;
    padding: 100px 0px;
    background-color: #FF6464;
    background-position: center;
    background-size: cover;
}

.contact-box .cb-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin: 10px 500px;
    opacity: .9;
    border-radius: 25px;
}

.cb-inner h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cb-inner .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 20px 0px;
}

.contact label{
    text-align: left;
    font-weight: 500;
    font-size: smaller;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #53545c;
}

.contact input {
    border-radius: 12px;
    width: 250px;
    height: 30px;
    text-align: center;
}

.contact input:nth-child(8) {
    height: 100px;
    margin-bottom: 20px;
}

.contact button {
    background-color: #FF6464;
    color: #FFFFFF;
    border-radius: 12px;
    max-width: fit-content;
    max-height: 80px;
    margin:0 auto;
    font-weight: bold;
    font-style: normal;
}


/* footer-styling */

footer {
    background-color: #FFFFFF;
    height: 182px;
   
}

footer .socials {
    display: flex;
    align-items: center; 
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

footer .copyrights {
    font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

/* Dark */

color: #21243D;
margin-top: 26px;
}

footer .socials {
    display: flex;
    gap: 35px;
}

.menu-button, .mobile-nav {
    display: none;
}

.menu-button img {
    width: 30px;
    padding-right: 18px;
}

.mobile-nav {
   background-color: #53545c;
   height: 100%;
   width: 100%;
   position: fixed;
   opacity: .9;
 }

 .mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 40px;
    padding-right: 50px;
 }

 .mobile-nav ul a {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: 2em;
 }

 .mobile-nav .cross-menu-button img {
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    left: 10px;
    width: 64px;
    filter: brightness(0) invert(1);
 }

@media all and (max-width:600px ){
   .hero-section .hero-inner {
    flex-direction: column-reverse;
   }
   header nav {padding:0 !important}

   .hero-inner .col-left {
    text-align: center;
    margin: 0 20px;
   }

   .hero-inner .col-left .action-button {
    margin-left: auto;
    margin-right: auto;
   }

   .hero-inner .col-right {
    margin-bottom: 30px;
   }

   .hero-section {
    padding-top: 33px;
    padding-bottom: 40px;
   }

   .posts{
    flex-direction: column;
    margin: 0 10px;
   }
   
   .posts-section-inner .posts-header a {
    display: none;
   }

   .posts-section-inner .posts-header h2 {
    margin: 0 auto; 
   }
   
   .fs-list .fs-item {
    flex-direction: column;
   }

   .fs-list .fs-item .fs-item-left img  {
    width: 100%;
   } 

   .menu-button {
    display: flex; 
    cursor: pointer;
  }

  .menu-button :hover {
    opacity: 60%;
  }

  .desktop-links {
    display: none;
  }

  .contact-box .cb-inner {
    margin: 10px 30px
  }

  .blog-container article {
    padding-left: 30px;
    padding-right: 20px;
  }

  #main-blog-heading {
    padding-top: 80px;
    padding-left: 30px;
  }

  .container {
    padding: 0;
  }

  .container #main-heading {
    padding-left: 20px;
    padding-top: 80px;
  }

}